body {
  background-color: #E6E6E6;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        14px;
  margin:           0px;
}

nav {
    background-color: #819FF7;
	margin: 10px 10px 0px 10px;
}

nav ul {
	margin: 10px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
	padding: 5px 10px;
}


nav ul li a:link, nav ul li a:visited {
	color: #000000;
	font-weight: bold;


}

nav ul li a:hover {
	color: red;
}

li.selected {
	background-color: #E6E6E6;
}

p {
    margin-left: 30px
}

.tag {
        color: red;
}

.block1 {
			width: 70px;
			height: 70px;
			border: 1px solid black;
			margin-left: 28px;
			background: lightgrey;
}


h1,h6 {
	margin-left: 30px;

}

table {
	margin-left: 30px;
}