﻿body { 
  background-color: #E6E6E6;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        14px;
  margin:           0px;
}

nav {
    background-color: #819FF7;
	margin: 10px 10px 0px 10px;
}

nav ul {
	margin: 10px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
	padding: 5px 10px;
}


nav ul li a:link {

color: #000000;
font-weight: bold;

}

nav ul li a:visited {

color: #000000;
font-weight: bold;

}

nav ul li a:hover {
	color: red;
}

li.selected {
	background-color: #E6E6E6;
}

#photo { 
	margin-top: 30px;
	margin-left: 20px;
	float: left;
	width: 280px;
	
}

.text {
	margin-left:65px;
	font-weight:bold;
	font-size:16px;
	
	
	}
	
#bio { 
		 
		margin-left: 280px;
		margin-top: 90px;
		margin-right: 0px;
		
		
		
	}

	h1 {
		font-size: 120%;
		color: #954b4b;
		text-indent: 270px
		
}
	
.brd {
    border: 4px double black; /* Параметры границы */
	border-color: #04819E;
	margin-left: 16px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: -20px;
	border-radius: 10px;
	width: 1050px;
	height: 400px;
	}
	
	margin-left:265px;
	margin-right: 40px;
	
	

