body { 
  background-color: #E6E6E6;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        14px;
  margin:           0px;
}

nav {
    background-color: #819FF7;
	margin: 10px 10px 0px 10px;
}

nav ul {
	margin: 10px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
	padding: 5px 10px;
}


nav ul li a:link, nav ul li a:visited {
	color: #000000;
	font-weight: bold;


}

nav ul li a:hover {
	color: red;
}

li.selected {
	background-color: #E6E6E6;
}

#kartinka {

			position:fixed;
			margin-left:250px;

}